<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTA AUTOS</title>
</head>
<body>
    <h1>AUTOS</h1>
    <img src="auto1.jpg" alt="">
    <img src="auto2.jpg" alt="">
    <img src="auto3.jpg" alt="">
    
</body>
</html>