<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTA GATOS</title>
</head>
<body>
    <H1>GATOS</H1>
    <img src="gato1.jpg" alt="">
    <img src="gato2.jpg" alt="">
</body>
</html>
